.action {
  background-color: #000;
}

.registration-form {
margin-top: 65px;
}
u{
    text-decoration: underline;

}
input[type="radio"] {
    display:none;
}

input[type="radio"]  {
    display:inline-block;
    width:30px;
    height:30px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    cursor:pointer;
    -moz-border-radius:  50%;
    border-radius:  50%;
}

input[type="radio"]:checked {
    width:30px;
    height:30px;
    border: 5px solid #0DFF92;
    color: #0DFF92;
    background: orangered;
}

h4 {
  margin-top: 50px;
  margin-bottom: 30px;
}

/*Graphs*/
#myAnswerGraph {
  margin-top: 50px;
}

#comparedGraph {
  margin-top: 50px;
}

#indicatorGroupAverage {
  margin-top: 50px;
}

#companyAverage {
  margin-top: 50px;
}

/*PDF*/

.survey-info li {
  list-style: none;
  text-align: center;
}

/*pop up for "I agree"*/
.agree {
    display: none;
    position: fixed;
    z-index: 10000;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}

/* Modal Content */
.agree-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
/*Button Style*/
button#agree:disabled {
  cursor: no-drop !important;
  background: #aaaaaa !important;
}

/* Error for Organisation Name ( over 100 char)*/
#error--OrgName{
	color:#B22222;
	display:none;
}

#select-country{
  width: 8vw;
  height: 25px;
  float: left;
  margin-right: 2%;
  margin-top: 4px;
}

#com-phone-reg{
  width: 74%;
}

/* Phu divide two part of edit profiles.*/
.personal-question,
.professional-question{
  border: 1px dotted  #ddd;
  padding: 15px;
  margin-bottom: 15px;
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

/* Phu: change the type of phone in edit profile */
#user-phone-edit{
    width: 16.5vw;
    float: right
}

/* Phu : change the color of the delete button in profile */
.btn-delete{
  color:#FFF;
  background-color: #df2739;
}
.btn-delete:hover{
  background-color: #d32638;
}

